@if (loadingStudents$ | async) {
<h1>Cargando...</h1>
} @else {
@if (error$ | async) {
<h1>Ocurrio un error</h1>
<pre>{{error$ | async | json}}</pre>
}@else {

<h2 class="mx-3">Alumnos</h2>

<div *ngIf="authUserRole=='admin'" class="d-flex justify-content-end">
    <button (click)="openDialog()" mat-button color="primary">
        Agregar alumno
    </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- FirstName Column -->
    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> Nombre y apellido</th>
        <td mat-cell *matCellDef="let element"> {{[element.firstname, element.lastname] | fullName}}</td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Finalized Column -->
    <ng-container matColumnDef="finalized">
        <th mat-header-cell *matHeaderCellDef> Cursos realizados </th>
        <td mat-cell *matCellDef="let element"> {{element.finalized}} </td>
    </ng-container>

    <!-- InProgress Column -->
    <ng-container matColumnDef="inProgress">
        <th mat-header-cell *matHeaderCellDef> Cursando </th>
        <td mat-cell *matCellDef="let element"> {{element.inProgress}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button *ngIf="authUserRole=='admin'" (click)="onDeleteStudent(element.id)" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
            <button *ngIf="authUserRole=='admin'" (click)="openDialog(element)" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
}
}